front/node_modules
backend/.env
backend/node_modules
backend/warn.log
backend/resultados.pdf
backend/result.log
backend/result-prof.txt
backend/result_artillery.txt
backend/resultados.pdf
backend/isolate-000001996C82BD20-7692-v8.log
backend/isolate-000001BEE8E3D990-5068-5068-v8.log
backend/error.log
backend/nginx
backend/3828.0x
backend/src/config/configFirebase.js
backend/src/config/configSqlite.js
backend/src/config/firebase.js
backend/src/config/firebaseConfig.json
